body {
    margin: 0;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
form {
    border: solid 2px #e8e8e8;
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 7px;
}
.sec1 {
    background-color: #f7f7f7;
    height: 50px;
    margin: auto 0;
    padding: 10px;
    border-bottom: solid 2px #e8e8e8;
}
h1 {
    margin-top: 2px;
    font-size: 28px;
    padding-left: 10px;
}
.text {
    background-color: #f8d7da;
    color: rgb(90, 4, 4);
    width: 1110px;
    height: 40px;
    border: solid 1px rgba(192, 82, 82, 0.1);
    border-radius: 5px;
    margin: 18px;
}
.text p {
    margin-left: 20px;
    margin: 8px;
    padding-left: 13px;
}
.info, .sec3, .postal,.botones{
    display: flex;
}
fieldset {
    border: none;
}
.info {
    height: 75px;
}
.card {
    padding-left: 17px;
    margin-right: 0;
    padding-top: 1px;
}
.card input, select{
    height: 28px;
    padding-left: 10px; 
}
#card-number {
    width: 440px;
}
#CVC {
    width: 200px;
}
#amount {
    width: 347px;
}
.card p:nth-child(2) {
    color: rgb(20, 15, 15);
    margin-top: 0;
}
label {
    margin-bottom: 5px;
    margin-top: 0;
    font-size: 15px;
}
input, select, textarea {
    border: solid 2px #e8e8e8;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 5px;
}

            /*aqui viene toda la parte del medio*/

.large {
    width: 525px;
}
.text2 fieldset:nth-of-type(3) {
    margin-left: 6px;
}
.pay {
    background-color: #6c757d;
    text-align: center;
    margin-top: 11px;
    height: 35px;
    width: 230px;
    border-radius: 5px;
}
.pay img {
    width: 22px;
    height: 22px;
    margin-top: 6px;
}
[class="pay"] input {
    transform: scale(0.8);
    position: relative;
    top: -4px;
 }

              /* tercer div, parte derecha*/ 

#opciones {
    appearance: none;
    background: url(arrow-unsorted-svgrepo-com.svg) no-repeat right;
    background-size: 13px;
    width: 240px;
    height: 35px;
}
#postal {
    width: 255px;
 }
.text3 > fieldset:last-child {
    padding-top: 6px;
}
small {
    margin: 0 auto;
    font-size: 12px;
    color: rgb(70, 67, 67);
}

                /*parte final de botones*/
.botones {
    background-color: #f7f7f7;
    height: 45px;
    border-top: solid 2px #e8e8e8;
    justify-content: flex-end;
    padding-top: 8px;
    padding-right: 20px;
    gap: 6px;
}

button {
    height: 35px;
    width: 60px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #6c757d;
}

.botones button:nth-of-type(even) {
    background-color: #017bff;
    width: 55px;
}