body {
    margin: 0;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
form {
    border: solid 2px #e8e8e8;
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 7px;
}
.sec1 {
    background-color: #f7f7f7;
    height: 50px;
    margin: auto 0;
    padding: 10px;
    border-bottom: solid 2px #e8e8e8;
}

.sec1 h1 {
    margin-top: 2px;
    font-size: 28px;
    padding-left: 10px; /*espacio de cada lado 10px*/
}

.text {
    background-color: #f8d7da;
    border: solid 1px rgba(192, 82, 82, 0.1);
    color: rgb(90, 4, 4);
    margin: 18px;
    height: 40px;
    border-radius: 5px;
    width: 1110px;
    justify-content: center;
}

.text p {
    margin-left: 20px;
    margin: 8px;
    padding-left: 13px;
}

.info {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100px;
}

.card {
    width: 100%;
    padding-left: 15px;
    padding-top: 1px;
    border: none;
}

.card input {
    width: 310px;
    min-width: 310px;
    height: 25px;
    padding-left: 10px;
    border: solid 2px #e8e8e8;
    border-radius: 5px;
    font-size: 17px;
}

.card p {
    margin-bottom: 5px;
}
.card p:nth-child(2) {
    color: rgb(20, 15, 15);
    margin-top: 0;
}
              /*aqui viene toda la parte del medio*/

.sec3 {
    display: flex;
}

.fname {
   width: 50%;
}

.sep {
    display: flex;
}
.botones {
    background-color: ghostwhite;

}

img {
    width: 30px;
    height: 30px;
}